.custom-infowindow > .userLocation {
    margin: 10px !important;
}
.user-location-button {
    margin: 10px;
    background-color: #0010f3f4;
    border-radius: 9999px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    bottom: 100px !important;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-location-button.cl::before,
.user-location-button.cl::after {
    opacity: 0;
}

.user-location-button::before {
    content: '현재 위치 확인하기';
    color: white;
    position: absolute;
    top: -40px;
    right: 24px;
    padding: 10px 12px;
    font-size: 13px;
    white-space: nowrap;
    background-color: #0012f3e6;
    border-radius: 28px;
    transition: 0.5s;
    z-index: 1;
}
.user-location-button::after {
    content: '';
    border-top: 12px solid #0012f3e6;
    border-left: 20px solid transparent;
    position: absolute;
    top: -11px;
    right: 33px;
}
.user-location-button button {
    background: url(../../public//Whitelocation.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: none;
    /* padding: 8px 12px;
    border-radius: 4px; */
    cursor: pointer;
    /* font-size: 14px; */
}
@media (max-width: 1200px) {
    .user-location-button {
        bottom: 200px !important;
    }
}
