.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #181805a6;
    padding: 9px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.navContainer > p {
    width: 100%;
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.navWrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.navWeb {
    margin: 10px 20px;
}
.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.navWeb .navItem > p {
    font-size: 13px;
    margin: 5px 0 0 0;
    color: white;
}

.activeItem {
    background-color: #fff;
    color: #000;
}

.centralItem {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.centralBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;
}

@media (max-width: 1200px) {
    .navContainer {
        /* background-color: #828b74; */
    }
    .navItem {
        /* background-color: #828b74; */
    }
}
